<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Inventory Force Date</h2>
        <p class="oe_mt32 text-center">
            
        </p>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 1:</b>
            </h4>
            <p class="oe_mt32 text-center">
                Set FORCE DATE in Inventory Adjustment.
            </p>
            <img class="oe_picture oe_screenshot" src="inventory Date 1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Step 2:</b>
            </h4>
            <p class="oe_mt32 text-center">
           After 'Validate Inventory', Force Date set to all Move Lines
            </p>

<!--            <img class="oe_picture oe_screenshot" src="assign_follower_2.png">-->
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="mailto:info@geotechnosoft.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="https://www.geotechnosoft.com/page/contactus"><i
            class="fa fa-phone"></i> Contact Us </a> 
    </div>
<!--            <img src="icon.png" style="width: 70px; height:70px; margin-bottom: 20px;" class="center-block">-->
            <h4 class="oe_mt32 oe_mb8 text-center">
                <center>
                    <img class="oe_picture" src="company_logo.png" style="width:300px">
                </center>
            </h4>
</section>
<section class="oe_container oe_separator">
</section>