<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">TDS in customer invoice and vendor bill</h2>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#875A7B;">TDS taxes can be easily configured in Invoicing >
            Configuration > Accounting > TDS Taxes menu.</h3>
        <div>
            <center>
                <img src="TDS_taxes_menu.png" height="400" width="800">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">TDS tax configuration</h2>
        <div>
            <center>
                <img src="TDS_taxes_config.png" height="400" width="800">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">TDS tax can be applied in invoice</h2>
        <div>
            <center>
                <img src="Invoice_tax.png" height="400" width="800">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">TDS tax 5% is applied in customer invoice</h2>
        <div>
            <center>
                <img src="TDS_Taxes_applied.png" height="400" width="800">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Journal entry for customer invoice</h2>
        <div>
            <center>
                <img src="TDS_journal_entry.png" height="400" width="800">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Same way TDS can be applied in vendor bill</h2>
        <div>
            <center>
                <img src="TDS_vendor_bill.png" height="400" width="800">
            </center>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Support</h2>
        <center>
        <span class="oe_slogan" style="text-align: center;color:#168893 !important;">
            <h3>
            At Geo Technosoft we offer end to end solution for Odoo services. Which
            includes analysis & consultation on the workflows and integration
            part. Incase of any question regarding this module feel
            free to email us on <a style="color: #a24689 !important;"
                                   href="mailto:info@geotechnosoft.com">info@geotechnosoft.com</a>
            or raise a ticket on support.
            </h3>
        </span>
        </center>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <a href="http://www.geotechnosoft.com/" target="new">
                <center>
                    <img class="oe_picture oe_screenshot center-block" src="geotechnosoft_logo.png"
                         style="width: 200px; margin-bottom: 20px;"/>
                </center>
            </a>
            <div class="oe_span12">
                <h2 class="text-center">
                    <a>About us</a>
                </h2>
            </div>
            <span> <a style="color: #a24689 !important;"
                href="http://www.geotechnosoft.com/" target="new">Website</a> | <a
                style="color: #a24689 !important;"
                href="http://www.geotechnosoft.com/" target="new">Blog</a> | <a
                style="color: #a24689 !important;"
                href="mailto:info@geotechnosoft.com">Contact Us</a> | <a
                style="color: #a24689 !important;"
                href="mailto:info@geotechnosoft.com">Request New Feature</a>
            </span>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <center>
            <span class="oe_slogan"
                  style="text-align: center;color:#875A7B !important;">
                <h2>
                    <a href="https://apps.odoo.com/apps/browse?repo_maintainer_id=151506"
                       style="color: #168893 !important;" target="new">
                        <span class="fa fa-star fa-spin"></span>
                        Click here for Geo Technosoft Odoo Apps
                        <span class="fa fa-star fa-spin"></span>
                    </a>
                </h2>
            </span>
        </center>
    </div>
</section>
