<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Table header freeze</h2>
        <div>
            <p><font size="3">This module Table header freeze your odoo module in tree view.</font></p>
        </div>
        <div>
            Advantages:
            <ul>
              <li>Your choosen in tree view.</li>
              <li>Main tree view freeze</li>
              <li>One2many field's in tree view</li>
            </ul>
        </div>

        <h3 class="oe_slogan" style="color:#000000;"><b>Usage</b></h3>
        <p><font size="3">See Readme.rst file.</font></p>
        <p><font size="3">You need to declare in *.xml file: In the view declaration, put class='table_header_freeze' attribute in the field tag:: 1. Main tree view:</font></p>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="004.png" height="300" width="600">
        </div>

        <h3 class="oe_slogan" style="color:#000000;"><b>Apperance</b></h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="001.png" height="300" width="600">
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="002.png" height="300" width="600">
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="003.png" height="300" width="600">
        </div>

    </div>
</section>
