
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width:90%">
            <h2 class="oe_slogan">Odoo Product Approval</h2>
            <h3 class="oe_slogan"></h3>
            <h4 class="oe_slogan">Uses : </h4>
            <ul>
                <li style="color:#30054D;font-weight:bold;">
                <p>1) Default Product is create in 'Draft' state.<br>
                2) 'Product Manager' can review and confirm. After confirmation of product user can't update product information.<br>
                3) 'Product Manager' can also move confirm product in draft state.<br>
                4) User only do the operation on confirmed products. For an example in sales order, purchase order and manufacturing etc..
                </p>
                </li>
            </ul>
            <br/>
            <div class="oe_screenshot" style="text-align: left;">
            <ul>
                <li style="color:#30054D;font-weight:bold;">Normal User  that don't have Product Manager access</li>
            </ul>
            <img style="max-width: 100%;" src="Selection_001.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">Normal user can create or update product in draft state.</li>
            </ul>
            <img style="max-width: 100%;" src="Selection_002.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">User with Product Manager Access</li>
            </ul>
            <img style="max-width: 100%;" src="Selection_005.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">Manager can <b>Approve</b> product which are in Draft state also can be <b>Reset to Draft</b> products which are in 'Confirmed' state.</li>
            </ul>
            <img style="max-width: 100%;" src="Selection_006.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">User can only create sale order of confirmed products.</li>
            </ul>
            <img style="max-width: 100%;" src="Selection_007.png"><br /><br />
            <ul>
                <li style="color:#30054D;font-weight:bold;">User can only create Purchase Order of confirmed products.</li>
            </ul>
            <img style="max-width: 100%;" src="Selection_008.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container" style="background-color: #004CFF;">
    <div class="oe_row "> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
            <h3 class="text-center" style="color:#FFF">Contact us for support, customization</h3>
        </div>
            <span> 
                <a href="mailto:sheliyanilesh@gmail.com" style="color: yellow !important;font-weight:bold;">Write us</a> | <a style="color: yellow !important;font-weight:bold;" href="skype:nilesh_sheliya?chat">Contact us on Skype</a>
            </span>
        </div>
    </div>
</section>