.o_list_view > tfoot > tr > td{
    color:#ffffff !important;
}


/*thead .o_list_view .table thead{
    position: fixed ;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}
/*.o_list_view .table tbody{
    position: absolute;
    top: 28px;
    width: 100%;
    text-align: left;
}
.o_list_view .table thead th{
  float: left;
  display: block;
  text-align: left;
  padding: 10px 10px 10px 30px;
  font-size: 12px;
}
/*.o_list_view.table tbody tr td{



  text-align: left;
  padding: 10px 25px 10px 35px;

  font-size: 12px;
}